.pokedex-serch {
  #search {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #000;
    margin-top: 15px;
  }
  .error-msg {
    color: red;
    margin: 15px 0px;
  }
  .pokedex-search-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    .pokecard {
      min-height: 300px;
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      -webkit-box-shadow: 3px 3px 10px 0px #a1a1a1;
      box-shadow: 3px 3px 10px 0px #a1a1a1;
      transition: 0.3s all ease;
      cursor: pointer;
      .img-div {
        text-align: center;
      }
      img {
        width: 70%;
      }
      .stats {
        width: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-gap: 5px;
        background-color: var(--ng-offwhite);
        border-radius: 5px;
      }
      &:hover {
        background-color: var(--ng-red);
      }
    }
  }
  pagination-controls {
    text-align: center;
    padding: 15px;
    display: block;
    margin-top: 15px;
  }
}
