<div class="pokedex-serch">
  <h1>PokeDex Search</h1>
  <input
    type="text"
    id="search"
    name="search"
    placeholder="Search Pokemon by full name or ID..."
    (keyup.enter)="getSinglePokemon($event)"
  />
  <p *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</p>
  <div class="pokedex-search-inner">
    <div
      *ngFor="
        let pokemon of pokemonList
          | paginate
            : { itemsPerPage: 20, currentPage: page, totalItems: totalPokemons }
      "
      class="pokecard"
    >
      <a routerLink="/{{ pokemon.id }}">
        <h3>#{{ pokemon.id }}</h3>
        <h4>{{ pokemon.name | titlecase }}</h4>
        <div class="img-div">
          <img
            src="{{
              pokemon.sprites.other['official-artwork']['front_default']
            }}"
            alt="{{ pokemon.name | titlecase }} image"
          />
        </div>
        <div class="stats">
          <div>Types:</div>
          <div>
            <span *ngFor="let type of pokemon.types">
              {{ type.type.name }}&nbsp;
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <pagination-controls
    (pageChange)="page = $event; pokemonList = []; loadPokemon()"
  ></pagination-controls>
</div>
