.my-pokemon-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: -1px;
  & > div {
    border: 1px solid #000;
    padding: 5px;
    margin-right: -1px;
    button {
      background-color: var(--ng-red);
      padding: 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s all ease;
      color: #fff;
      &:hover {
        background-color: var(--ng-darkred);
      }
    }
  }
}
