<div class="my-pokemon-list-inner">
  <div class="my-pokemon-item headers">
    <div class="item-id">#ID</div>
    <div class="item-name">Name</div>
    <div class="item-btn">Remove</div>
  </div>
  <div class="my-pokemon-item" *ngFor="let poke of wishlistLS">
    <div class="item-id">#{{ poke.id }}</div>
    <div class="item-name">{{ poke.name }}</div>
    <div class="item-btn">
      <button type="button" (click)="removeFromWishlist(poke.id)">
        Remove
      </button>
    </div>
  </div>
</div>
