:host {
  display: block;
  padding-top: 15vh;
}

.poke-deets-inner {
  display: flex;
  justify-content: center;
  align-content: center;
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button-group {
    button {
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      background-color: var(--ng-red);
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
      transition: 0.3s all ease;
      &[disabled] {
        background-color: grey;
        color: #000;
        cursor: auto;
        &:hover {
          background-color: grey;
        }
      }
      &:hover {
        background-color: var(--ng-darkred);
      }
    }
  }
}
