<div class="poke-deets-inner">
  <div class="left-side">
    <img
      src="{{
        PokeObj.sprites.other !== undefined
          ? PokeObj.sprites.other['official-artwork']['front_default']
          : ''
      }}"
      alt="{{ PokeObj.name | titlecase }} image"
    />
  </div>
  <div class="right-side">
    <p>ID: {{ PokeObj.id }}</p>
    <p>Name: {{ PokeObj.name | titlecase }}</p>
    <p>height: {{ PokeObj.height }} inches</p>
    <p>weight: {{ PokeObj.weight }}kg</p>
    <p>
      Types:
      <span *ngFor="let type of PokeObj.types"
        >{{ type.type.name }},&nbsp;</span
      >
    </p>
    <div class="button-group">
      <button
        type="button"
        [disabled]="isMyPokemon"
        (click)="addToMyPokemon(PokeObj.id)"
      >
        Add to My Pokemon
      </button>
      <button
        type="button"
        [disabled]="isWishlisted"
        (click)="addToWishlist(PokeObj.id)"
      >
        Add to Wishlist
      </button>
    </div>
  </div>
</div>
