aside {
  width: 250px;
  height: 100%;
  margin-left: 0px;
  background-color: var(--ng-red);
  color: #fff;
  transition: 0.3s all ease;
  &.slide-away {
    margin-left: -200px;
  }
  header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    .burger {
      width: 30px;
      cursor: pointer;
      span {
        height: 2px;
        width: 100%;
        display: block;
        background-color: #fff;
        transition: 0.3s all ease;
        &:nth-of-type(2) {
          margin: 8px 0px;
        }
      }
      &:hover {
        span {
          background-color: #000;
        }
      }
    }
  }
  .logo {
    text-align: center;
  }
  h1 {
    padding: 15px;
  }
  nav {
    ul {
      li {
        a {
          width: 100%;
          display: inline-block;
          padding: 15px;
          border-bottom: 1px solid var(--ng-darkred);
          border-top: 1px solid var(--ng-darkred);
          margin-bottom: -1px;
          &:hover,
          &.active {
            background-color: var(--ng-darkred);
            transition: 0.3s all ease;
          }
        }
      }
    }
  }
}
