<aside [ngClass]="{ 'slide-away': !showsidebar }">
  <header>
    <div class="burger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>
  <div class="logo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg"
      alt="PokeDex logo"
      width="150"
    />
  </div>
  <h1>NG PokeDex</h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li>
        <a routerLink="/my-pokemon" routerLinkActive="active"
          ><i class="fa-solid fa-circle-dot"></i>My Pokemon</a
        >
      </li>
      <li>
        <a routerLink="/wishlist" routerLinkActive="active"
          ><i class="fa-solid fa-star-shooting"></i>My Wishlist</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active"
          ><i class="fa-solid fa-circle-question"></i>About</a
        >
      </li>
    </ul>
  </nav>
</aside>
