/* You can add global styles to this file, and also import other style files */
:root {
  --ng-red: #d14444;
  --ng-darkred: #aa3030;
  --ng-offwhite: #f8f8f8;

  --ng-darktext: #000000;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0;
  line-height: 1;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow: hidden;
}

body {
  font-family: arial, sans-serif;
  color: var(--ng-darktext);
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0.5em;
}

app-root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  flex: 1;
  background-color: var(--ng-offwhite);
  padding-top: 15px;
  overflow-y: auto;
}

main {
  width: 100%;
  min-height: calc(100% - 75px);
  padding: 0px 15px;
}

ul.ngx-pagination {
  li.current {
    background-color: var(--ng-red);
  }
}
